---
import GitHub from '../components/icons/GitHub.astro';

interface Props {
    title: string
    date: string
    description: string
    link: string
    repo: string
    src: any
}

const { title, date, description, link, repo, src } = Astro.props;

---

<div class="max-w-[500px] flex flex-col gap-y-4 items-start mx-2 py-4 px-3">
    <h3
        class="w-full h-20 flex items-center text-xl font-semibold text-yellow-200/70 uppercase"
    >
        {title}
    </h3>

    <div class="text-xs font-bold mb-1">{date}</div>
    
    <div class="w-full flex justify-center mx-auto">
        <a 
            class="hover:scale-110 hover:opacity-60" 
            href={link}
            rel="noopener noreferrer"
            target="_blank"
        >
            <img class="w-[80%] mx-auto rounded-xl border-2" src={src} alt="imagen del proyecto">
        </a>
    </div>

    <div class="w-full opacity-70 text-sm text-[var(--description)">
        {description}
    </div>

    <a 
        class="hover:scale-110 hover:opacity-60 w-auto h-12 flex items-end mb-0"
        target="_blank"
        rel="noopener no referrer"
        href={repo}
    >
        <GitHub class="size-8 "/>
    </a>
</div>
